<div class="container-fluid" style="border-style: none">


  <div class="row">

    <div class="col-12 text-center">

      <h4>Fluency Direct Test Page 1</h4>

    </div>
  </div>

  <div class="row">

    <div class="col">

      <label>Text Field 1</label>

    </div>
  </div>
  <div class="row">

    <div class="col">
      <Input type='text'>

    </div>
  </div>
  
  <br />

  <div class="row">

    <div class="col">

      <label>Scrolling Text Field 1</label>

    </div>
  </div>
  <div class="row">

    <div class="col">
      <textarea rows="4" cols="100"></textarea>
    </div>
  </div>

  <br />

  <div class="row">

    <div class="col">

      <label>Scrolling Text Field 2</label>

    </div>
  </div>

  <div class="row">

    <div class="col">
      <textarea rows="4" cols="100"></textarea>
    </div>
  </div>

  <div class="row">

    <div class="col">

      <label>Scrolling Text Field 2</label>
    </div>
  </div>
  <div class="row">

    <div class="col">
      <textarea rows="4" cols="100"></textarea>
    </div>
  </div>
</div>