<div class="container-fluid" style="border-style: none; background: lightgrey">
  <div class="card" style="height:100vh;">

    <div class="card-header">


      <div class="row">

        <div class="col">
          <a routerLink="/fluencydirect">Fluency Direct Test Page 1</a>
        </div>
      </div>


      <div class=" row">

        <div class="col">
          <a routerLink="/fluencydirect2">Fluency Direct Test Page 2</a>
        </div>
      </div>
      <!--
      <div class="row">

        <div class="col-4">
          <a routerLink="/clientpicture">Client Picture</a>
        </div>
      </div>
    -->
    </div>
    <div class="card-body">

      <router-outlet></router-outlet>
    </div>

    <div class="card-footer">
      Netsmart Technologies 2019
    </div>
  </div>
</div>